<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengshiyu.mybatis.entity.TeacherMapper">
    <select id="selectOneTeacher" resultMap="TeacherStudent">
        select *
        from teachers
        where id = #{id}
    </select>

    <resultMap id="TeacherStudent" type="com.pengshiyu.mybatis.entity.Teacher">

        <!-- 关联集合 -->
        <!-- column 是外键 -->
        <collection property="students" column="id" ofType="com.pengshiyu.mybatis.entity.Student"
                    select="getStudentByTeacherId">
        </collection>
    </resultMap>

    <select id="getStudentByTeacherId" resultType="com.pengshiyu.mybatis.entity.Student">
        select * from students where teacher_id = #{id}
    </select>
</mapper>